@page "/quiz"
<style>
    .radio-input input {
        display: none;
    }

    .radio-input {
        display: flex;
        flex-direction: column;
        padding: 12px;
        background: #fff;
        color: #000;
        border-radius: 10px;
        box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);
        width: 320px;
    }

    .info {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .question {
        color: rgb(49, 49, 49);
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 800;
    }

    .steps {
        background-color: rgb(0, 0, 0);
        padding: 4px;
        color: #fff;
        border-radius: 4px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
    }

    .radio-input label {
        display: flex;
        background-color: #fff;
        padding: 14px;
        margin: 8px 0 0 0;
        font-size: 13px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgba(187, 187, 187, 0.164);
        color: #000;
        transition: .3s ease;
        display:flex;
    }

        .radio-input label:hover {
            background-color: rgba(24, 24, 24, 0.13);
            border: 1px solid #bbb;
        }


    .radio-input input:checked + label {
        border-color: rgb(22, 245, 22);
        color: rgb(16, 184, 16);
    }

</style>
<div class="radio-input">
    <div class="info">
        <span class="question">@Question.Consegna</span>
        <span class="steps">@posizione</span>
    </div>
    @foreach(Opzione o in Question.Opzioni)
    {
        <input type="radio" id="@takeValue(o)" name="value-radio" value="@takeValue(o)">
        <label for="@takeValue(o)">@o.Testo</label>
    }
    <a style="margin:0 0 auto;font-size:5px;">►</a>
</div>
@code {
    [Parameter]
    public Domanda Question{ get; set; }
    [Parameter]
    public string? posizione{ get; set; }

    public string? Corretta;
    public string takeValue(Opzione o)
    {
        if (o.OpzioneCorretta==true)
            Corretta = $"value-{o.ProgressivoOpzione}";
        return Corretta;
    }
}
