@page "/view"
@using System.Collections.Generic
@inject HttpClient Http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<style>
    .styled-table {
        width: 50%;
        border-collapse: collapse;
        margin: 50px auto;
    }

        .styled-table th,
        .styled-table td {
            padding: 10px;
        }

        .styled-table thead {
            background-color: #240046;
            color: #fff;
        }

        .styled-table tbody tr:nth-child(even) {
            background-color: #E6E6E6;
        }

        .styled-table tbody tr:nth-child(odd) {
            background-color: #EEEEEE;
        }

        .styled-table .clickable {
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .styled-table .clickable:hover {
                background-color: #EBEBE3;
            }

        .styled-table .expanded-row {
            display: none;
            margin-bottom: 10px;
            padding:20px;
            color: #666;
            transition: all .8s ease-in-out;
        }


    
</style>

<Bolle left_="50%"></Bolle>
    <LittleMenu></LittleMenu>
<table class="styled-table">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Creatore</th>
            <th>Stato</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in ListaTest)
        {
            <tr class="clickable" @onclick="@(() => ToggleExpansion(test))">
                <td>@test.IdTest</td>
                <td>@test.Nome</td>
                <td>@test.creatore</td>
                <td>@TraduciAperto(test.Aperto)</td>
                <td></td>
                @if (TraduciAperto(test.Aperto) == "Chiuso")
                {
                    <td><DurataInput InputText="@test.Durata"></DurataInput> </td>
                    <td><GenericButton Contenuto="Apri"></GenericButton></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private string TraduciAperto(bool? b)
    {
        return (bool)b ? "Aperto" : "Chiuso";
    }

    private void ToggleExpansion(Test test)
    {

        foreach (Test t in ListaTest)
        {
            if(t!=test)
                t.IsExpanded = false;
        }
        test.IsExpanded = !test.IsExpanded;
    }

    List<Test> ListaTest { get; set; } = new List<Test>();

    protected override async Task OnInitializedAsync()
    {
        string MailCreatore = await sessionStorage.GetItemAsync<string>("MailLogged");
        string apiurl = $"/api/Test/GetByCreator?c={MailCreatore}";
        ListaTest = await Http.GetFromJsonAsync<List<Test>>(apiurl);
        ListaTest.ForEach(x => x.IsExpanded = false);
    }
}


