@page "/visualizza"
@inject HttpClient Http

<h3>VisualizzaUtenti</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Mail</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utente in ListaUtenti)
        {
            <tr>
                <td>@utente.Nome</td>
                <td>@utente.Cognome</td>
                <td>@utente.Username</td>
                <td>@utente.Mail</td>
                <td>@utente.Password</td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Utente> ListaUtenti { get; set; } = new List<Utente>();

    protected override async Task OnInitializedAsync()
    {
        string apiurl = "/api/Utente";
        ListaUtenti = await Http.GetFromJsonAsync<List<Utente>>(apiurl);
    }

}
