@page "/view"
@inject HttpClient Http

<style>
    /* Styles for the table */
    table {
        margin: 50px auto;
        width: 50%;
        border-collapse: collapse;
    }

    /* Table header */
    thead {
        background-color: #333;
        color: #fff;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    /* Alternating row colors */
    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Hidden row content */
    tbody tr input[type="checkbox"] {
        display: none;
    }

        tbody tr input[type="checkbox"]:checked ~ .expanded-content {
            display: table-row;
        }

    /* Clickable row */
    tbody tr.clickable {
        cursor: pointer;
    }

    /* Expanded row content */
    tbody tr .expanded-content {
        display: none;
        background-color: #ddd;
        font-weight: bold;
    }
</style>

<h3>VisualizzaUtenti</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Mail</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utente in ListaUtenti)
        {
            <tr class="clickable">
                <td>@utente.Nome</td>
                <td>@utente.Cognome</td>
                <td>@utente.Username</td>
                <td>@utente.Mail</td>
                <td>@utente.Password</td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="expand-trigger-1">
                    <div class="expanded-content">
                        <h3>Sottotitolo</h3>
                        <p>Contenuto della riga espansa...</p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Utente> ListaUtenti { get; set; } = new List<Utente>();

    protected override async Task OnInitializedAsync()
    {
        string apiurl = "/api/Utente";
        ListaUtenti = await Http.GetFromJsonAsync<List<Utente>>(apiurl);
    }

}
